<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Based on iKAImagePickerCell by</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>label</key>
				<string>iKilledAppl3</string>
				<key>user</key>
				<string>iKilledAppl3</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Based on libimagepicker by</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>label</key>
				<string>Muirey</string>
				<key>user</key>
				<string>Muirey03</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Based on Astolfo by</string>
			</dict>
			<dict>
				<key>cellClass</key>
				<string>HBTwitterCell</string>
				<key>label</key>
				<string>Nepeta</string>
				<key>user</key>
				<string>NepetaDev</string>
			</dict>
		</array>
		<key>title</key>
		<string>Special Thanks</string>
	</dict>
</plist>